/* Global styles using :root */
:root {
  /* Color variables */
  --primary-color: #001A64;        /* Blue Dawn */
  --accent-color:  #80558A;       /* Pink Hibiscus */
  --neutral-color: #F13E51; /* Light Apricot */
  --button-color: #F13E51;          /* Pink Cupcake */
  --text-color:  #001A64;          /* Purple Hyacinth */

  /* Font size variables */
  --base-font-size: 16px;

  /* Spacing variables */
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 2rem;
}

/* Apply global styles */
body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.landing {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Change height to min-height */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.header-content {
  width: 100%;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  justify-content: center;
  padding: var(--padding-medium) 0;
  background-color: var(--accent-color);
}

.header-content h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem; /* Add margin bottom to create space between h1 and p */
}

.header-content p {
  margin-top: 0.5rem; /* Add margin top to create space between h1 and p */
  font-size: 1.3rem;
  background-color: var(--accent-color);
}

/* Make input and button responsive */
input[type="text"],
.header-content button {
  padding: var(--padding-small) var(--padding-medium);
  background-color: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2px;
}

/* Featured destinations styles */
.featured-destinations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; /* Align items to the start */
  padding: var(--padding-medium);
  font-size: 1rem;
  max-width: 100%; /* Ensure it doesn't exceed the width of the screen */
  text-align: center; /* Center the text */
}

.featured-destinations h2 {
  width: 100%; /* Make the h2 element take up the full width */
  margin-bottom: 1rem;
  font-size: 2rem;
  background-color: var(--neutral-color);
}
.featured-destinations h3,p {
  margin: 0;
  background-color: var(--neutral-color);
}


.destination-card {
  padding: var(--padding-medium);
  border-radius: 6px;
  border-style: solid;
  margin: 0 1rem 1rem 0;
  max-width: 300px;
  flex: 1;
}


.destination-card img {
  max-width: 100%;
  border-radius: 6px;
}

@media screen and (max-width: 576px) {
  .header-content h1 {
    font-size: 2rem;
  }

  .header-content p {
    font-size: 1rem;
  }

  .featured-destinations {
    font-size: 1.2rem;
  }
}
