/* Global styles using :root */
:root {
  /* Color variables */
  --primary-color: #001A64;        /* Blue Dawn */
  --accent-color:  #80558A;       /* Pink Hibiscus */
  --neutral-color: #F13E51; /* Light Apricot */
  --button-color: #F13E51;          /* Pink Cupcake */
  --text-color:  #001A64;          /* Purple Hyacinth */

  /* Font size variables */
  --base-font-size: 16px;

  /* Spacing variables */
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 2rem;
}

/* Apply global styles */
body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
  justify-content: center;
  padding: var(--padding-medium) 0;
  background-color: var(--accent-color);
}

.header-content h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem; /* Add margin bottom to create space between h1 and p */
}

.header-content p {
  margin-top: 0.5rem; /* Add margin top to create space between h1 and p */
  font-size: 1.3rem;
}


input[type="text"] {
  width: 200px;
  padding: var(--padding-small);
  margin-right: var(--padding-medium);
}
.header-content button {
  padding: var(--padding-small) var(--padding-medium);
  background-color: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
   
}
button {
  padding: var(--padding-small) var(--padding-medium);
  background-color: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.featured-destinations {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-medium);
font-size: 2rem;
}

.destination-card {
  background-color: var(--neutral-color);
  padding: var(--padding-medium);
  border-radius: 4px;
}
